.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.error {
  color: var(--error_color);
  font-size: 0.9em;
}

.inputError {
  box-shadow: unset;
  border-color: var(--error_color);
}

.btn-enviar {
  width: 25%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.6rem 1.5rem;
  background-color: #1abc9c;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


@media screen and (max-width: 500px) {
  .btn-enviar {
    width: 100%;
  }
}


.box {
  background: transparent;
  padding: 1.5rem 1rem;
  border-radius: 0;
  box-shadow: none;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card {
  background: transparent;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  width: auto;
}


.logo {
  display: block;
  width: 200px;
  margin-bottom: 2rem;
}
