.header {
  background-color: var(--primary_color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  height: 40px;
}

.welcome {
  font-weight: bold;
  font-size: 1.2rem;
}
